*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

main {
    display: flex;
    justify-content: center;
    padding-inline: 10rem;
    height: auto;

        .caixa {
        background-color: #fede04;
        padding: 1rem;
        border-radius: .8rem;
        margin: 2rem;
       

        p {
            font-size: 1.7rem;
            font-weight: 700;
            text-align: center;
        }
    }

    .lado-um { 

        .p-um {
            display: flex;
            justify-content: center;
            margin-inline: 25rem;
            margin-bottom: 1.3rem;
            
            input {
                margin-right: .5rem;
            }
            label {
                font-size: 1.5rem;
                font-weight: 700;
                
            }
        }
        .p-tres {
            display: flex;
            justify-content: center;
            margin-inline: 20rem;
            margin-bottom: 1.3rem;
            
            input {
                margin-right: .5rem;
            }
            label {
                font-size: 1.5rem;
                font-weight: 700;
                
            }
        }

        .p-cinco {
            display: flex;
            justify-content: center;
            margin-inline: 20rem;
            margin-bottom: 1.3rem;
            
            input {
                margin-right: .5rem;
            }
            label {
                font-size: 1.5rem;
                font-weight: 700;
                
            }
        }

        .p-sete {
            display: flex;
            justify-content: center;
            margin-inline: 20rem;
            margin-bottom: 1.3rem;
            
            input {
                margin-right: .5rem;
            }
            label {
                font-size: 1.5rem;
                font-weight: 700;
                
            }
        }
    }
}