*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

header {
    .header {
    background-color: #df280f;
    padding-top: 5rem ;
    display: flex;
    justify-content: center;

    h2 {
        font-size: 2.5rem;
        color: #fac213;
        margin-left: 10rem;
        margin-right: 3rem;
        margin-bottom: 5rem;
    }
    img {
        width: 3.5rem;
        height: 3.5rem;
    }
    a {
        margin-left: 3rem;
        margin-top: 4rem;
        text-decoration: none;
        color: #fac213;
        font-size: 1.8rem;
    }
    }
    h1 {
        margin-left: 15rem;
        font-size: 3.5rem;
        color: #fac213;
    }
}

main {
    display: flex;
    justify-content: center;
    padding-inline: 10rem;
    height: 140vh;
    margin-top: 2rem;


        .caixa {
        background-color: #fede04;
        padding: 1rem;
        border-radius: .8rem;
        margin: 2rem;
       

        p {
            font-size: 1.7rem;
            font-weight: 700;
            text-align: center;
        }
    }

    .lado-dois { 

        .p-dois {
            display: flex;
            justify-content: center;
            margin-inline: 20rem;
            margin-bottom: 1.3rem;
            
            input {
                margin-right: .5rem;
            }
            label {
                font-size: 1.5rem;
                font-weight: 700;
                
            }
        }
        .p-quatro {
            display: flex;
            justify-content: center;
            margin-inline: 20rem;
            margin-bottom: 1.3rem;
            
            input {
                margin-right: .5rem;
            }
            label {
                font-size: 1.5rem;
                font-weight: 700;
                
            }
        }

        .p-seis {
            display: flex;
            justify-content: center;
            margin-inline: 20rem;
            margin-bottom: 1.3rem;
            
            input {
                margin-right: .5rem;
            }
            label {
                font-size: 1.5rem;
                font-weight: 700;
                
            }
        }

        .p-oito {
            display: flex;
            justify-content: center;
            margin-inline: 20rem;
            margin-bottom: 1.3rem;
            
            input {
                margin-right: .5rem;
            }
            label {
                font-size: 1.5rem;
                font-weight: 700;
                
            }
        }
    }

        .lado-um { 

        .p-um {
            display: flex;
            justify-content: center;
            margin-inline: 25rem;
            margin-bottom: 1.3rem;
            
            input {
                margin-right: .5rem;
            }
            label {
                font-size: 1.5rem;
                font-weight: 700;
                
            }
        }
        .p-tres {
            display: flex;
            justify-content: center;
            margin-inline: 20rem;
            margin-bottom: 1.3rem;
            
            input {
                margin-right: .5rem;
            }
            label {
                font-size: 1.5rem;
                font-weight: 700;
                
            }
        }

        .p-cinco {
            display: flex;
            justify-content: center;
            margin-inline: 20rem;
            margin-bottom: 1.3rem;
            
            input {
                margin-right: .5rem;
            }
            label {
                font-size: 1.5rem;
                font-weight: 700;
                
            }
        }

        .p-sete {
            display: flex;
            justify-content: center;
            margin-inline: 20rem;
            margin-bottom: 1.3rem;
            
            input {
                margin-right: .5rem;
            }
            label {
                font-size: 1.5rem;
                font-weight: 700;
                
            }
        }
    }
}

    .cinza {
        background-color: #737064;
        padding: 7rem;
    }